.character-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, 450px);
    grid-gap: 25px;
    width: 100%;
}
.character-cards .character {
    display: grid;
    grid-template-columns: 200px auto;
    background-color: rgba(250,250,250,.42);
    border: 1px solid rgba(125,125,125,.42);
    border-radius: 5px;
    padding: 25px;
    grid-gap: 15px;
}
.character-cards .character .character-image {
    grid-row: 1 / span 2;
    width: 200px;
    height: 300px;
}
.character-cards .character .info h2 {
    font-weight: 1000;
    font-size: 2rem;
    line-height: 3rem;
}
.character-cards .character .info pre {
    font-size: 1.5rem;
    line-height: 2rem;
}